<%- include('_header.html') %>

<% if (pipeline.isFinished === false || (pipeline.isRollbackNeeded && !pipeline.isRollbackFinished)) { %>
<meta http-equiv="refresh" content="1"/>
<%} %>

<%- include('_breadcrumbs.html', {items: [
  {title: "Home", uri: "/"},
  {title: "Pipelines", uri: "/pipelines"},
  {title: pipeline.id, uri: `/pipelines/${pipeline.id}`},
  {title: job.name, uri: "", status: job.getStatus()}
]}) %>

<div>
<% job.procs.forEach(proc => { %>
<div>
<pre>
<% if (proc.exitCode == null) { %><span class="loading-icon-1"></span><% } %><% if (proc.exitCode == 0) { %><span class="check-icon-1"></span><% } %><% if (proc.exitCode > 0) { %><span class="fail-icon-1"></span><% } %><b style="vertical-align: text-bottom; margin-left: 10px;">$><%= proc.bin %> <%= proc.opts.join(' ') %></b>
</pre>




<% if (proc.exitCode !== null) { %>
<pre style="width: 99%; color: white; background: black; padding: 5px; overflow: hidden;">
<%= proc.stdout %>
<%= proc.stderr || (proc.err ? proc.err.message : '') %>
<b style="color: <%= (proc.exitCode !== null && proc.exitCode > 0) ? 'red' : 'white' %>">~ exit code <%= proc.exitCode %></b>
</pre>
<% } %>

</div>
<% }) %>

<% if (job.resultBuffer !== null) { %>
<pre style="width: 99%; color: white; background: linear-gradient(320deg, #353535, #5a5a5a); padding: 15px; border-radius: 15px; overflow: hidden;">
result: <%= job.resultBuffer %>
</pre>
<% } %>


</div>
<%- include('_footer.html') %>