<%- include('_header.html') %>


<style>

.script-pipeline {
  display: inline-block;
  padding: 20px;
    padding-left: 20px;
  margin: 10px;
  padding-left: 0;
  background-color: #fdfdfd;
}
</style>

<!--
<%- include('_breadcrumbs.html', {items: [
  {title: "Home", uri: "/"},
  {title: "Pipelines", uri: "/pipelines"}
]}) %>
-->
<div>
  <h3 class="page-title">Last 10 pipelines</h3>
</div>
<div>
<% let ppcounter = 0; %>
<% pipelines.forEach(pipeline => { if (ppcounter < 10 && pipeline.scriptId) { %>
  <div class="script-pipeline">
    <a href="/pipelines/<%= pipeline.id %>"><%= `${pipeline.scriptName}`.substr(0, 50) %>...</a>
    <br/>
    <p>
      pipeline version: <%= pipeline.scriptVersion %>
      <br/>
      source: <a href="/sources/<%= pipeline.scriptId %>"><%= `${pipeline.scriptId}`.substr(0, 7) %>... (<%= pipeline.scriptVersion %>)</a>
      <br/>
      <%= moment(pipeline.createdAt).fromNow() %> 
      <span class="status <%= pipeline.getStatus() %>"><%= pipeline.getStatus() %></span>
    </p>
  </div>
  <% ppcounter++; %>
<% }}) %>
</div>


<h4>Run pipeline</h4>
<form action="/pipelines" method="post">
  <div class="mb-3">
    <select name="scriptId" class="form-select" aria-label="Default select example">
      <option value="0" selected>select ci script</option>
      <% scripts.forEach(script => { %>
      <option value="<%= script.id %>"><%= script.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="run"/>
  </div>
</form>


<a href="/pipeline/process">schedule pipeline process</a>



<%- include('_footer.html') %>
