<%- include('_header.html') %>

<% if (!pipeline.isFinished || (pipeline.isRollbackNeeded && !pipeline.isRollbackFinished)) { %>
<meta http-equiv="refresh" content="1"/>
<%} %>


<style>

.job {
  /*
  display: inline-block;
  color: white;*/
  padding: 10px 25px;
  margin: 30px 25px;
  position: relative;
  width: 150px;
  display: inline-block;
  border-radius: 5px;
}

.job a {
  color: white;
  text-decoration: none;
}
.job a:hover {
  color: white;
  text-decoration: none;
}

.job.failure {
  background-color: #b32f2f;
}

.job.success {
  background-color: #2c902c;
}

.job.unknown {
  background-color: grey;
}

.job.running {
  background-color: #7ec77e;
}

.job.pending {
  background-color: #e4a023;
}

/*
.job.success.right:not(:last-child):after {
  content: '';
  height: 1px;
  background: black;
  width: 50px;
  position: absolute;
  right: -50px;
  top: 50%;
}
*/
.job.success.right:not(:last-child):before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  border-style: solid;
  border-width: 7px 0 7px 20px;
  border-color: transparent transparent transparent black;
  right: -40px;
  transform: translateY(-50%);
}



/*
.job.success.left:not(:first-child):after {
  content: '';
  height: 1px;
  background: black;
  width: 50px;
  position: absolute;
  right: -50px;
  top: 50%;
}
*/
.job.success.left:not(:last-child):not(:first-child):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    border-width: 7px 0 7px 20px;
    border-color: transparent transparent transparent black;
    left: -40px;
    transform: rotate(180deg) translateY(48%);
}

</style>

<div>
  <h3 class="page-title"><%= pipeline.scriptName || "-" %></h3>
</div>

<%- include('_breadcrumbs.html', {items: [
  {title: "pipelines", uri: "/pipelines"},
  {title: pipeline.scriptName, uri: `/pipelines/${pipeline.id}`, status: pipeline.getStatus()}
]}) %>





<div style="text-align: center;">
  <div>
    Created <%= moment(pipeline.createdAt).fromNow() %><br/>
    Execution status: <span class="badge status <%= pipeline.getStatus() %>"><%= pipeline.getStatus() %></span>
    <% if (pipeline.isRollbackNeeded) { %>
    <br/>
    Rollback status: <span class="badge status <%= pipeline.getRollbackStatus() %>"><%= pipeline.getRollbackStatus() %></span>
    <% } %>
    <br/>
    <p>
    <%= pipeline.description %>
    </p>
    <p>
      <a class="btn btn-light" href="/scripts/<%= script.slug || script.id %>">Switch to script view</a>
      <form style="display: inline-block" action="/pipelines/<%= pipeline.id %>/repeat" method="post">
        <button class="btn btn-light">Repeat</button>
      </form>
    </p>
  </div>


  <div>
  
  </div>
  <div>
  </div>
</div>


<% if (pipeline.args && pipeline.args.length > 0) { %>
<div >
  <h3 class="page-title">Arguments</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Argument</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <% pipeline.args.forEach(arg => { %>
      <tr>
        <th scope="row"><%= arg.name %></th>
        <td><%= arg.schema.type %></td>
        <td><%= JSON.stringify(arg.value) %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <br/>
</div>
<% } %>

<br/><br/>
<h3 class="page-title">Job sequence</h3>

<div style="display: flex; justify-content: center;">
  <% let jobCounter = 0; %>
  <% pipeline.jobs.forEach(job => { %>
  <div class="job right <%= job.getStatus() %>"><a href="/pipelines/<%= pipeline.id %>/job/<%= jobCounter %>"><%= job.name %></a></div>
  <% jobCounter++; %>
  <% }) %>
</div>

<% if (pipeline.isRollbackNeeded) { %>
<div style="display: flex; justify-content: center;">
  <% let rollbackCounter = 0; %>
  <% pipeline.jobs.forEach(job => { %>
  <div class="job left <%= job.getRollbackStatus() %>"><a href="/pipelines/<%= pipeline.id %>/rollback/<%= rollbackCounter %>">rollback for <%= job.name %></a></div>
  <% rollbackCounter++; %>
  <% }) %>
</div>
<% } %>



<!-- div id="pipeline_<%= pipeline.id %>" style="margin-left: 30px">
<% pipeline.jobs.forEach(job => { %>
<div>
  <h4>Job :<%= job.name %></h4>
<% job.script.forEach(proc => { %>
<div>
<pre>
<b><%= proc.bin %><%= proc.opts.join(' ') %></b>
</pre>
<pre style="width: 90%; color: white; background: black; padding: 5px;">
<%= proc.stdout %>
<%= proc.stderr || (proc.err ? proc.err.message : '') %>
</pre>
</div>
<% }) %>
</div>
<% }) %>
</div -->
<%- include('_footer.html') %>