<%- include('_header.html') %>


<%- include('_breadcrumbs.html', {items: [
  {title: "Home", uri: "/"},
  {title: "Pipelines", uri: "/pipelines"}
]}) %>


<h4>Last 10 pipelines</h4>
<div>
<% let ppcounter = 0; %>
<% pipelines.forEach(pipeline => { if (ppcounter < 10) { %>
  <div>
    <a href="/pipelines/<%= pipeline.id %>">Pipeline #<%= pipeline.id %> <%= moment(pipeline.createdAt).fromNow() %></a>
    <span class="status <%= pipeline.getStatus() %>"><%= pipeline.getStatus() %></span>
  </div>
  <% ppcounter++; %>
<% }}) %>
</div>



<h4>Run pipeline</h4>
<form action="/pipelines" method="post">
  <div class="mb-3">
    <select name="scriptId" class="form-select" aria-label="Default select example">
      <option value="0" selected>select ci script</option>
      <% scripts.forEach(script => { %>
      <option value="<%= script.id %>"><%= script.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="mb-3">
    <input type="submit" value="run"/>
  </div>
</form>


<a href="/pipeline/process">schedule pipeline process</a>



<%- include('_footer.html') %>
